.row {
    display: 		flex;
    flex-wrap: 	wrap;
    padding: 		0 10px;
  }
  
  
  /* Create two equal columns that sits next to each other */
  .column {
    float: 		middle;
    text-align: 	center; 
    width:	 	24vw;
    padding: 		0 10px;
  }